<h2>404 - Sidan kunde inte hittas!</h2>
<p>Tyvärr, antingen har du klickat på en trasig länk eller så har något gått sönder för den här sidan kunde inte visas.</p>
<p>Som kompensation kommer här en bild på en katt istället:</p>

<img [src]="catImage" [alt]="catImageAlt">

<p>Bilden kommer från <a
        href="https://pixabay.com/sv/photos/katt-unga-djur-kattunge-gr%C3%A5-katt-2083492/">pixabay.com</a> och får
    användas gratis då det här är en skoluppgift och inte ett kommersiellt företag.</p>